body {
	background-color: #edf0e4;	
}
.navbar{
	background-color: #e4edf0;
}
.jumbotron {
	background-color: #f0e4ed;
}
#nav-content {
border:solid;	
}
footer {
border:solid; }

.figcaption {
	font-size:13px;
}
.card {
	margin: 0 auto;
}
.container {
	background-color: #f0e4ed;	
}
.page-footer {
background-color: #e4edf0;
}
img{
	max-width: 100%;height: auto;
	}
a:link {
	transition: all .5s linear;
	color: black;
}
a:hover { color: black;
}
#mailme {
	color: blue;
}
#mailme:hover {
	color:black;
}
.list-group-item:nth-child(even){ 
            background-color: grey; 
 }
 h4 {
border: solid;
background-color: #edf0e4;
 }
 h2{
	 border: 1px solid;
  padding: 2px;
  box-shadow: 5px 10px #888888;
 }
 #clarion {
	 padding: 1px;
 }
 h3 {
text-shadow: 2px 2px 2px grey;
 }
p {
padding: 5px;	
}
.img-fluid {
max-width: 100%;
height: auto;
}
